@font-face {
	font-family: 'Designosaur';
	src: url('../fonts/apps/Designosaur-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Designosaur-Italic';
	src: url('../fonts/apps/Designosaur-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
